a {
  color: #0e4768;
  text-decoration: none;
}

.Dictionary .hint {
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
}

.Dictionary input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.Dictionary .searchBar {
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 30px;
}
