a {
  color: white;
  text-decoration: none;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  color: white;
  font-family: serif;
  font-style: italic;
}

.Dictionary input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #fa4299;
  border-radius: 20px;
}

.Dictionary .searchBar {
  background-color: black;
  border-radius: 15px;
  margin: 0 auto;
  padding: 30px;
}

/* iPhone media query */
@media only screen and (max-width: 375px) {
  .Dictionary input {
    width: 100%;
  }
  .Dictionary .hint {
    font-size: 12px;
  }
  .Dictionary .searchBar {
    padding: 15px;
    text-align: center;
  }
}
