.Phonetic .phoneticGraphic {
  max-width: 50px;
  transition: transform 0.2s;
  margin-right: 15px;
}

.Phonetic .phoneticGraphic:hover {
  transform: scale(1.5);
}

.Phonetic .phoneticText {
  margin-top: 7px;
  font-size: 20px;
}
